language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer update --dev
  - mysql -e 'create database joomla_ut;'
  - mysql joomla_ut < Tests/Stubs/mysql.sql
  - psql -c 'create database joomla_ut;' -U postgres
  - psql -d joomla_ut -a -f Tests/Stubs/postgresql.sql

script:
  - ./vendor/bin/phpunit --configuration phpunit.travis.xml
  - ./vendor/bin/phpcs -p --report=full --extensions=php --standard=.travis/phpcs/Joomla/ruleset.xml src/
