language: php

sudo: false

env:
  global:
    - RUN_PHPCS="no"
    - COMPOSER_FLAGS=""

matrix:
  include:
    - php: 5.5
    - php: 5.5
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.6
      env: RUN_PHPCS="yes"
    - php: 7.0
    - php: 7.1
    - php: nightly
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - mysql
        - postgresql
  allow_failures:
    - php: nightly
    - php: hhvm

before_script:
  - composer self-update
  - composer update $COMPOSER_FLAGS
  - mysql -u root -e 'create database joomla_ut;'
  - mysql -u root joomla_ut < Tests/Stubs/mysql.sql
  - psql -c 'create database joomla_ut;' -U postgres
  - psql -d joomla_ut -a -f Tests/Stubs/postgresql.sql

script:
  - vendor/bin/phpunit --configuration phpunit.travis.xml
  - if [ "$RUN_PHPCS" == "yes" ]; then vendor/bin/phpcs -p --report=full --extensions=php --standard=.travis/phpcs/Joomla/ruleset.xml src/; fi;
