language: php
sudo: false
dist: trusty

env:
  global:
    - SYMFONY_VERSION="3.4.*"
    - RUN_PHPCS="no"
    - COMPOSER_FLAGS="--prefer-stable"

matrix:
  fast_finish: true
  include:
    - php: 7.2
    - php: 7.2
      env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest"
    - php: 7.2
      env: RUN_PHPCS="yes"
    - php: 7.2
      env: SYMFONY_VERSION="4.2.*"
    - php: 7.3
      env: SYMFONY_VERSION="4.3.*"
    - php: 7.3
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: COMPOSER_FLAGS=""
    - php: 7.3
      env: SYMFONY_VERSION="4.4.*@dev"
    - php: 7.3
      env: SYMFONY_VERSION="5.0.*@dev"
    - php: 7.4snapshot
    - php: nightly
  allow_failures:
    - php: 7.3
      env: SYMFONY_VERSION="5.0.*@dev"
    - php: 7.4snapshot
    - php: nightly

before_script:
  - composer self-update
  - composer require --no-update symfony/console:${SYMFONY_VERSION}
  - composer update $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit
  - if [ "$RUN_PHPCS" == "yes" ]; then vendor/bin/phpcs --config-set installed_paths vendor/joomla/coding-standards && vendor/bin/phpcs -p --report=full --extensions=php --standard=ruleset.xml src/; fi;
