language: php
sudo: false
dist: trusty

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

env:
  - COMPOSER_FLAGS="--prefer-stable"

jobs:
  allow_failures:
    - php: 7.1
      env: PGSQL_VERSION=10.0
    - php: 7.2
    - php: nightly
  include:
    # SQLite
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml" COMPOSER_FLAGS="--prefer-stable --prefer-lowest"
    - stage: Test
      php: 5.4
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 5.5
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 5.6
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 7.0
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 7.1
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: 7.1
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml" COMPOSER_FLAGS=""
    - stage: Test
      php: 7.2
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"
    - stage: Test
      php: nightly
      env: DB="sqlite" PHPUNIT_CONF=".travis/phpunit.sqlite.xml"

    # PDO MySQL 5.5
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="mysql" MYSQL_VERSION=5.5 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="mysql" MYSQL_VERSION=5.5 PHPUNIT_CONF=".travis/phpunit.mysql.xml" COMPOSER_FLAGS="--prefer-stable --prefer-lowest"

    # PDO MySQL 5.6
    - stage: Test
      php: 5.4
      env: DB="mysql" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 5.5
      env: DB="mysql" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 5.6
      env: DB="mysql" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 7.1
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="mysql" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysql.xml" COMPOSER_FLAGS=""

    # PDO MySQL 5.7
    - stage: Test
      php: 7.0
      sudo: required
      env: DB="mysql" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 7.1
      sudo: required
      env: DB="mysql" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: 7.1
      sudo: required
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="mysql" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysql.xml" COMPOSER_FLAGS=""
    - stage: Test
      php: 7.2
      sudo: required
      env: DB="mysql" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysql.xml"
    - stage: Test
      php: nightly
      sudo: required
      env: DB="mysql" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysql.xml"

    # MySQLi 5.5
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="mysqli" MYSQL_VERSION=5.5 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 5.3
      dist: precise
      env: DB="mysqli" MYSQL_VERSION=5.5 PHPUNIT_CONF=".travis/phpunit.mysqli.xml" COMPOSER_FLAGS="--prefer-stable --prefer-lowest"

    # MySQLi 5.6
    - stage: Test
      php: 5.4
      env: DB="mysqli" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 5.5
      env: DB="mysqli" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 5.6
      env: DB="mysqli" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 7.1
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="mysqli" MYSQL_VERSION=5.6 PHPUNIT_CONF=".travis/phpunit.mysqli.xml" COMPOSER_FLAGS=""

    # MySQLi 5.7
    - stage: Test
      php: 7.0
      sudo: required
      env: DB="mysqli" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 7.1
      sudo: required
      env: DB="mysqli" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: 7.1
      sudo: required
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="mysqli" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysqli.xml" COMPOSER_FLAGS=""
    - stage: Test
      php: 7.2
      sudo: required
      env: DB="mysqli" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"
    - stage: Test
      php: nightly
      sudo: required
      env: DB="mysqli" MYSQL_VERSION=5.7 PHPUNIT_CONF=".travis/phpunit.mysqli.xml"

    # PDO PostgreSQL 9.1
    - stage: Test
      php: 5.3
      dist: precise
      addons:
        postgresql: "9.1"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.1 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"

    # PDO PostgreSQL 9.2
    - stage: Test
      php: 5.4
      addons:
        postgresql: "9.2"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.2 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"

    # PDO PostgreSQL 9.3
    - stage: Test
      php: 5.5
      addons:
        postgresql: "9.3"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.3 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"

    # PDO PostgreSQL 9.4
    - stage: Test
      php: 5.6
      addons:
        postgresql: "9.4"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.4 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"

    # PDO PostgreSQL 9.5
    - stage: Test
      php: 7.0
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.5 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"

    # PDO PostgreSQL 9.6
    - stage: Test
      php: 7.1
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=9.6 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"
    - stage: Test
      php: 7.1
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="pgsql" PGSQL_VERSION=9.6 PHPUNIT_CONF=".travis/phpunit.pgsql.xml" COMPOSER_FLAGS=""

    # PDO PostgreSQL 10.0
    - stage: Test
      php: 7.2
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"
    - stage: Test
      php: nightly
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="pgsql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.pgsql.xml"
    - stage: Test
      php: 7.1
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="pgsql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.pgsql.xml" COMPOSER_FLAGS=""

    # PostgreSQL 9.1
    - stage: Test
      php: 5.3
      dist: precise
      addons:
        postgresql: "9.1"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.1 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"
    - stage: Test
      php: 5.3
      dist: precise
      addons:
        postgresql: "9.1"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.1 PHPUNIT_CONF=".travis/phpunit.postgresql.xml" COMPOSER_FLAGS="--prefer-stable --prefer-lowest"

    # PostgreSQL 9.2
    - stage: Test
      php: 5.4
      addons:
        postgresql: "9.2"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.2 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"

    # PostgreSQL 9.3
    - stage: Test
      php: 5.5
      addons:
        postgresql: "9.3"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.3 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"

    # PostgreSQL 9.4
    - stage: Test
      php: 5.6
      addons:
        postgresql: "9.4"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.4 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"

    # PostgreSQL 9.5
    - stage: Test
      php: 7.0
      addons:
        postgresql: "9.5"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.5 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"

    # PostgreSQL 9.6
    - stage: Test
      php: 7.1
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=9.6 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"
    - stage: Test
      php: 7.1
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="postgresql" PGSQL_VERSION=9.6 PHPUNIT_CONF=".travis/phpunit.postgresql.xml" COMPOSER_FLAGS=""

    # PostgreSQL 10.0
    - stage: Test
      php: 7.2
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"
    - stage: Test
      php: nightly
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      env: DB="postgresql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.postgresql.xml"
    - stage: Test
      php: 7.1
      sudo: required
      addons:
        postgresql: "9.6"
      services:
        - postgresql
      # This empty flag removes the prefer-stable switch to cause dev dependencies to be installed
      env: DB="postgresql" PGSQL_VERSION=10.0 PHPUNIT_CONF=".travis/phpunit.postgresql.xml" COMPOSER_FLAGS=""

    # PHPCS
    - stage: Coding standard
      php: 5.6
      script:
        - vendor/bin/phpcs --config-set installed_paths vendor/joomla/coding-standards && vendor/bin/phpcs -p --report=full --extensions=php --standard=ruleset.xml src/

before_install:
  - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{,.disabled} || echo "xdebug not available"

before_script:
  - if [[ "$MYSQL_VERSION" == "5.7" ]]; then bash ./.travis/install-mysql-5.7.sh; fi;
  - if [[ "$PGSQL_VERSION" == "10.0" ]]; then bash ./.travis/install-postgres-10.sh; fi;
  - if [[ "$DB" == "mysql" || "$DB" == "mysqli" || "$DB" == *"mariadb"* ]]; then mysql -u root -e 'create database joomla_ut;'; fi;
  - if [[ "$DB" == "mysql" || "$DB" == "mysqli" || "$DB" == *"mariadb"* ]]; then mysql -u root joomla_ut < Tests/Stubs/mysql.sql; fi;
  - if [[ "$DB" == "pgsql" || "$DB" == "postgresql" ]]; then psql -U postgres -c 'create database joomla_ut;'; fi;
  - if [[ "$DB" == "pgsql" || "$DB" == "postgresql" ]]; then psql -U postgres -d joomla_ut -a -f Tests/Stubs/postgresql.sql; fi;

install:
  - rm -f composer.lock
  - travis_retry composer -n update $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit --configuration $PHPUNIT_CONF
