language: php

sudo: false

env:
  global:
    - RUN_PHPCS="no"
    - COMPOSER_FLAGS=""

matrix:
  include:
    - php: 5.3
    - php: 5.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.4
    - php: 5.5
    - php: 5.6
      env: RUN_PHPCS="yes"
    - php: 7.0
    - php: hhvm
  allow_failures:
    - php: hhvm

services:
  - apc
  - memcache
  - memcached

before_script:
  - composer self-update
  - composer update $COMPOSER_FLAGS
  - phpenv config-add .travis/phpenv/apc.ini
  - phpenv config-add .travis/phpenv/memcache.ini
  - phpenv config-add .travis/phpenv/memcached.ini

script:
  - vendor/bin/phpunit
  - if [ "$RUN_PHPCS" == "yes" ]; then vendor/bin/phpcs -p --report=full --extensions=php --standard=.travis/phpcs/Joomla/ruleset.xml src/; fi;
